USE [master]
GO
/****** Object:  Database [ThiTracNghiem]    Script Date: 1/8/2024 1:28:29 AM ******/
CREATE DATABASE [ThiTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThiTracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThiTracNghiem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThiTracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ThiTracNghiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThiTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThiTracNghiem]
GO
/****** Object:  User [Nguyen]    Script Date: 1/8/2024 1:28:29 AM ******/
CREATE USER [Nguyen] FOR LOGIN [Nguyen] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] NOT NULL,
	[TenLop] [nvarchar](255) NULL,
	[MonHocChinh] [int] NULL,
	[KhoaID] [int] NULL,
	[ChuyenNganhID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ResultID] [int] NOT NULL,
	[NguoiThi] [int] NULL,
	[DeThiID] [int] NULL,
	[DiemSo] [float] NULL,
	[ThoiGianHoanThanh] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] NOT NULL,
	[ThoiGianThi] [time](7) NULL,
	[MonHocID] [int] NULL,
	[TaiKhoanID] [int] NULL,
	[KyThiID] [int] NULL,
	[Exam] [nvarchar](max) NULL,
	[SoCauHoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyID] [int] NOT NULL,
	[TenKhoa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[FeedbackID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[Feedback] [nvarchar](max) NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[LichThiID] [int] NOT NULL,
	[NgayThi] [datetime] NULL,
	[TenKyThi] [nvarchar](255) NULL,
 CONSTRAINT [PK_LichThi] PRIMARY KEY CLUSTERED 
(
	[LichThiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[MajorID] [int] NOT NULL,
	[TenChuyenNganh] [nvarchar](255) NULL,
	[KhoaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MajorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] NOT NULL,
	[NoiDungCauHoi] [nvarchar](max) NULL,
	[DeThiID] [int] NULL,
	[A] [nvarchar](255) NULL,
	[B] [nvarchar](255) NULL,
	[C] [nvarchar](255) NULL,
	[D] [nvarchar](255) NULL,
	[DapAn] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] NOT NULL,
	[TenMonHoc] [nvarchar](255) NULL,
	[MoTaMonHoc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/8/2024 1:28:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[MatKhau] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Exams] ([ExamID], [ThoiGianThi], [MonHocID], [TaiKhoanID], [KyThiID], [Exam], [SoCauHoi]) VALUES (1, CAST(N'01:30:00' AS Time), NULL, 1, NULL, N'HAHA', 12)
INSERT [dbo].[Exams] ([ExamID], [ThoiGianThi], [MonHocID], [TaiKhoanID], [KyThiID], [Exam], [SoCauHoi]) VALUES (2, CAST(N'02:00:00' AS Time), NULL, 2, NULL, N'HUHU', 23)
GO
INSERT [dbo].[Questions] ([QuestionID], [NoiDungCauHoi], [DeThiID], [A], [B], [C], [D], [DapAn]) VALUES (1, N'Phát biểu nào sau đây đúng?', 1, N'Đường kính bằng bán kính.', N'Đường kính hơn bán kính 2 đơn vị.', N'Đường kính gấp 2 lần bán kính.', N'Bán kính gấp 2 lần đường kính.', N'C ')
INSERT [dbo].[Questions] ([QuestionID], [NoiDungCauHoi], [DeThiID], [A], [B], [C], [D], [DapAn]) VALUES (2, N'157% = ……..', 1, N'157', N'15,7', N'1,57', N'0,157', N'C ')
INSERT [dbo].[Questions] ([QuestionID], [NoiDungCauHoi], [DeThiID], [A], [B], [C], [D], [DapAn]) VALUES (3, N'412,3 x …… = 4,123. Số điền vào chỗ chấm là:', 1, N'100', N'10', N'0,1', N'0,01', N'D ')
GO
INSERT [dbo].[Users] ([UserID], [MatKhau], [HoTen], [Email], [GioiTinh], [NgaySinh]) VALUES (1, N'2123', N'Nguyen', N'nguyentranlht@gmail.com', 1, CAST(N'2003-01-22' AS Date))
INSERT [dbo].[Users] ([UserID], [MatKhau], [HoTen], [Email], [GioiTinh], [NgaySinh]) VALUES (2, N'2323', N'Duy', N'leduy', 1, CAST(N'2002-02-02' AS Date))
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([ChuyenNganhID])
REFERENCES [dbo].[Majors] ([MajorID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([MonHocChinh])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([DeThiID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([NguoiThi])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([MonHocID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_LichThi] FOREIGN KEY([KyThiID])
REFERENCES [dbo].[LichThi] ([LichThiID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_LichThi]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Exams] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Exams]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Users]
GO
ALTER TABLE [dbo].[Majors]  WITH CHECK ADD FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([DeThiID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
/****** Object:  StoredProcedure [dbo].[GETLISTEXAMS]    Script Date: 1/8/2024 1:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GETLISTEXAMS]
AS
BEGIN
    SELECT U.HoTen, E.ExamID, E.Exam, E.SoCauHoi, E.ThoiGianThi FROM Users U, Exams E
	WHERE U.UserID = E.TaiKhoanID
END
GO
/****** Object:  StoredProcedure [dbo].[GETTABLEQUESTION]    Script Date: 1/8/2024 1:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETTABLEQUESTION]
AS
BEGIN
    SELECT * FROM Questions
END
GO
/****** Object:  StoredProcedure [dbo].[UserLogin]    Script Date: 1/8/2024 1:28:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserLogin]
    @Username NVARCHAR(50),
    @Password NVARCHAR(50),
    @LoginSuccess BIT OUTPUT
AS
BEGIN
    IF EXISTS (SELECT * FROM Users WHERE Email = @Username AND MatKhau = @Password)
        SET @LoginSuccess = 1  -- Đăng nhập thành công
    ELSE
        SET @LoginSuccess = 0  -- Tên người dùng hoặc mật khẩu không hợp lệ
END
GO
USE [master]
GO
