USE [master]
GO
/****** Object:  Database [ThiTracNghiem]    Script Date: 05/01/2024 7:36:59 PM ******/
CREATE DATABASE [ThiTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TenCoSoDuLieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TenCoSoDuLieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TenCoSoDuLieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TenCoSoDuLieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThiTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThiTracNghiem]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] NOT NULL,
	[NoiDungDapAn] [nvarchar](max) NULL,
	[CauHoiID] [int] NULL,
	[DapAnDung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] NOT NULL,
	[TenLop] [nvarchar](255) NULL,
	[MonHocChinh] [int] NULL,
	[ChuyenNganhID] [int] NULL,
	[KhoaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ExamResultID] [int] NOT NULL,
	[NguoiThi] [int] NULL,
	[DeThiID] [int] NULL,
	[DiemSo] [float] NULL,
	[ThoiGianHoanThanh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] NOT NULL,
	[TieuDeDeThi] [nvarchar](255) NULL,
	[ThoiGianThi] [datetime] NULL,
	[MonHocID] [int] NULL,
	[NguoiTaoDeThi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyID] [int] NOT NULL,
	[TenKhoa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeID] [int] NOT NULL,
	[NguoiThi] [int] NULL,
	[MonHocID] [int] NULL,
	[DiemSo] [float] NULL,
	[NgayCapNhatDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[MajorID] [int] NOT NULL,
	[TenChuyenNganh] [nvarchar](255) NULL,
	[KhoaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MajorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] NOT NULL,
	[NoiDungCauHoi] [nvarchar](max) NULL,
	[MonHocID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] NOT NULL,
	[TenMonHoc] [nvarchar](255) NULL,
	[MoTaMonHoc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/01/2024 7:36:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Email] [varchar](255) NULL,
	[MatKhau] [varchar](255) NULL,
	[TenDayDu] [nvarchar](255) NULL,
	[GioiTinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Classes] ([ClassID], [TenLop], [MonHocChinh], [ChuyenNganhID], [KhoaID]) VALUES (1, N'21DTHD4', 1, 1, 1)
INSERT [dbo].[Classes] ([ClassID], [TenLop], [MonHocChinh], [ChuyenNganhID], [KhoaID]) VALUES (2, N'21DNNA1', 4, 3, 3)
INSERT [dbo].[Classes] ([ClassID], [TenLop], [MonHocChinh], [ChuyenNganhID], [KhoaID]) VALUES (3, N'21DQTB3', 5, 5, 3)
GO
INSERT [dbo].[Faculties] ([FacultyID], [TenKhoa]) VALUES (1, N'Công nghệ thông tin')
INSERT [dbo].[Faculties] ([FacultyID], [TenKhoa]) VALUES (2, N'Quản trị kinh doanh')
INSERT [dbo].[Faculties] ([FacultyID], [TenKhoa]) VALUES (3, N'Ngoại ngữ')
GO
INSERT [dbo].[Major] ([MajorID], [TenChuyenNganh], [KhoaID]) VALUES (1, N'Công nghệ phần mềm', 1)
INSERT [dbo].[Major] ([MajorID], [TenChuyenNganh], [KhoaID]) VALUES (2, N'Mạng máy tính', 1)
INSERT [dbo].[Major] ([MajorID], [TenChuyenNganh], [KhoaID]) VALUES (3, N'Ngôn ngữ Anh', 3)
GO
INSERT [dbo].[Subjects] ([SubjectID], [TenMonHoc], [MoTaMonHoc]) VALUES (1, N'Lập trình mạng', NULL)
INSERT [dbo].[Subjects] ([SubjectID], [TenMonHoc], [MoTaMonHoc]) VALUES (2, N'Công nghệ phần mềm', NULL)
INSERT [dbo].[Subjects] ([SubjectID], [TenMonHoc], [MoTaMonHoc]) VALUES (3, N'Tiếng Anh 1', NULL)
GO
INSERT [dbo].[Users] ([UserID], [Email], [MatKhau], [TenDayDu], [GioiTinh]) VALUES (1, N'leduyLTM@gmail.com', N'8103', N'Lê Duy', 1)
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([CauHoiID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([ChuyenNganhID])
REFERENCES [dbo].[Major] ([MajorID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([MonHocChinh])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([DeThiID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([NguoiThi])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([MonHocID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([NguoiTaoDeThi])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([MonHocID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD FOREIGN KEY([NguoiThi])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD FOREIGN KEY([KhoaID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([MonHocID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
USE [master]
GO
